$bg: #3b3b3b;
$bg-l: #4b4b4b;
$fg: #f3f3f3;

body {
  background-color: $bg;
  color: $fg;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div.container {
  div.content {

    div.grid-module-content {
      margin: 10px;
    }

    .layout {

      div.grid-module {
        background: $bg-l;
      }
    }
  }
}
